@import '../../rules/scss/themes.scss';
@import '../../rules/scss/variables.scss';

._staff_header {
    width: 100%;
    
    background: $theme-bg;
    padding: $padding * 3 $padding * 12;

    & ._staff_header_wrapper {
        margin: 0 auto;

        display: flex;
        align-items: center;
        gap: $padding * 6;

        & a {
            font-weight: 700;
            color: $theme-txt-opacity;
        }
    }
}