@import '../../rules/scss/variables.scss';
@import '../../rules/scss/themes.scss';

.supportcard {
    width: 100%;
    height: 100%;

    &.flexcenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    background: $theme-bg;
    box-shadow: $theme-shadow;

    padding: $padding * 4;
    border-radius: $borderRadius * 4;

    & .report-type {
        font-weight: 600;

        &.report-type-user {
            color: $theme-color-darkgreen;
        }
        &.report-type-product {
            color: $theme-color-green;
        }
    }

    & .report-status {
        font-weight: 600;

        &.report-status-open {
            color: $theme-color-darkgreen;
        }
        &.report-status-closed {
            color: $theme-color-darkred;
        }
    }

    & .reportHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $padding * 6;

        & .reportTitle {
            & h6 {
                font-size: $fontsize + 2px;
                font-weight: 700;
            }
        }
    }

    position: relative;

    & .infoModal {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        & .modalindex {
            position: absolute;

            width: 100%;
            height: 100%;

            align-items: flex-start;
            padding-top: $padding * 16;

            & .modalWrapper {
                width: 85%;
            }
        }

        & .reportInfoModalBody {
            display: flex;
            flex-direction: column;
            gap: $padding * 6;

            width: 100%;

            & .infoSections {
                display: flex;
                flex-wrap: wrap;
                gap: $padding * 3;

                & section.section {
                    width: calc(100% / 2 - $padding * 1.5);
                    min-width: calc(100% / 2 - $padding * 1.5);
    
                    display: flex;
                    flex-direction: column;
                    gap: $padding;
    
                    & .title {
                        font-size: $fontsize - 2px;
                        font-weight: 600;
    
                        color: $theme-txt-opacity;
                    }
                    & .value {
                        &, & * {
                            font-weight: 700;
                            font-size: $fontsize;
                        }
                    }
                }
            }
            & .actions {
                display: flex;
                flex-wrap: wrap;
                gap: $padding * 2;

                & .button {
                    width: 100%;
                    & .buttonName {
                        font-size: $fontsize;
                    }
                }
            }
        }
    }

    & .chatBody {
        width: 100%;
        height: calc(100% - 40px - $padding * 4);

        margin-top: $margin * 4;

        & .chatWrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            gap: $padding * 3;

            & .messages {
                width: 100%;
                height: 100%;

                overflow: auto;

                display: flex;
                flex-direction: column;
                gap: $padding * 6 $padding * 3;

                & .messageSection {
                    display: flex;
                    align-items: flex-end;
                    gap: $padding * 3;

                    &.reverse {
                        flex-direction: row-reverse;
                        
                        & .messageInfo {
                            border-radius: $borderRadius * 4 $borderRadius * 4 0 $borderRadius * 4;
                        }
                    }
                    &.system {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & .text {
                            font-weight: 700;
                            font-size: $fontsize - 2px;
                        }

                        & .messageInfo {
                            border-radius: $borderRadius;
                            &:before {
                                display: none;
                            }
                        }
                    }

                    & .messageInfo {
                        max-width: 500px;
                        background: $theme-bg-color;

                        padding: $padding * 3;
                        border-radius: $borderRadius * 4 $borderRadius * 4 $borderRadius * 4 0;

                        display: flex;
                        flex-direction: column;
                        gap: $padding * 2;

                        & .messageAttachEntity {
                            & .adcart {
                                background: transparent !important;
                                box-shadow: none !important;
                            }
                        }

                        & .text {
                            display: flex;
                            flex-direction: column;
                            gap: $padding * 2;

                            width: 100%;

                            & .attachmentsList {
                                width: 100%;

                                display: flex;
                                flex-wrap: wrap;
                                gap: $padding;

                                & .attachment {
                                    width: calc(100% / 3 - $padding);
                                    min-width: 40px;

                                    border-radius: $borderRadius;
                                    overflow: hidden;

                                    & img {
                                        width: auto;
                                        height: auto;

                                        max-width: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }

                            & .value {
                                width: 100%;
                                display: inline-block;

                                white-space: pre-wrap;
                                word-wrap: break-word;
                            }
                        }
                        & .bottom {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: $padding * 6;

                            & section.section {
                                display: flex;
                                align-items: center;
                                gap: $padding;
                            }

                            & .sendStatus {
                                display: flex;
                                align-items: center;

                                & svg {
                                    font-size: $fontsize - 2px;
                                }

                                &.error svg {
                                    color: $theme-color-red;
                                    fill: $theme-color-red;
                                }
                                &.wait svg {
                                    color: $theme-txt-opacity;
                                    fill: $theme-txt-opacity;
                                }

                                position: relative;
                                &[data-alt]:before {
                                    background: $theme-color-red;
                                    color: $theme-txt-reverse;
        
                                    right: calc(100% - $margin * 3);
                                    left: auto;
        
                                    transform: translateY(50%) translateY(-$margin * 2);
                                }
                            }

                            & ._username_ {
                                & h5 {
                                    font-size: $fontsize - 2px;
                                    font-weight: 700;
                                }
                            }
                            & .createAt {
                                font-size: $fontsize - 2px;
                                font-weight: 700;

                                color: $theme-txt-opacity;
                            }
                        }
                    }
                }
            }
        }

        & .form {
            & .cantSendMessage {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                & span {
                    font-weight: 700;
                    color: $theme-color-red;
                }
            }
        }
    }
}