$borderRadius: 4px;
$padding: 4px;
$margin: 4px;
$transition: .3s;

$fontsize: 14px;

$zindex_null: 0;
$zindex_hover: 1;
$zindex_wrapper: 2;
$zindex_hoverModal: 3;
$zindex_modal: 4;
$zindex_notify: 5;
$zindex_context: 6;