@import '../../rules/scss/variables.scss';
@import '../../rules/scss/themes.scss';

._phoneTopHide_ {
    width: 100%;
    height: 20px;
    min-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    & section {
        width: 70%;
        min-height: 8px;

        background: $theme-bg-silver;
        border-radius: $borderRadius;
    }
}